/* large devices (Desktops and Laptops) */
@media (min-width: 1200px) {
}

/* Medium devices (Landscape tablets & Medium Desktops) */
@media (min-width: 922px) and (max-width: 992px) {
  .description p {
    font-size: 14px;
  }
  .about_content {
    gap: 25px;
  }
  .contact_content {
    margin-top: 25px;
  }
  .contact_info {
    width: 100%;
  }
  .contact_info p {
    font-size: 17px;
  }
  .summary_header {
    margin-top: 0;
  }
  .project_flex_container {
    padding: 20px 25px;
  }
}

/* customised elements for responsiveness */

@media (min-width: 768px) and (max-width: 921px) {
  .description p {
    font-size: 14px;
  }
  .about_content {
    gap: 25px;
  }
  .contact_content {
    margin-top: 25px;
  }
  .contact_info {
    width: 100%;
  }
  .contact_info p {
    font-size: 17px;
  }
  .summary_header {
    margin-top: 0;
  }
  .project_flex_container {
    padding: 20px 15px;
  }
  .header_section {
    padding: 20px;
  }
  .padding_w_bottom {
    padding: 20px 65px;
  }
  .right_sticky_list {
    right: 8px;
  }
}

@media (min-width: 694px) and (max-width: 768px) {
  .nav_bar {
    display: none;
  }

  .description p {
    font-size: 14px;
  }
  .about_content {
    gap: 25px;
  }
  .contact_content {
    margin-top: 25px;
  }
  .contact_info {
    width: 100%;
  }
  .contact_info p {
    font-size: 17px;
  }
  .summary_header {
    margin-top: 0;
  }
  .project_flex_container {
    padding: 3px 3px;
  }
  .header_section {
    padding: 20px;
  }
  .padding_w_bottom {
    padding: 35px 65px;
  }
  .right_sticky_list {
    right: 8px;
  }

  .project_flex_container {
    flex-direction: column;
    position: relative;
  }
  .description {
    width: 100%;
  }
  .project_summary {
    position: absolute;
    align-items: flex-start;
    height: auto;
    justify-content: flex-end;
    padding: 21px 10px;
    gap: 25px;
    bottom: 0;
    background-image: linear-gradient(
      to right,
      rgba(17, 11, 114, 0.9) 0%,
      rgba(17, 11, 114, 0.9) calc(100% - 530px),
      rgba(17, 11, 114, 0.9) calc(100% - 530px),
      rgba(17, 11, 114, 0.9) 100%
    );
  }
}

@media (min-width: 598px) and (max-width: 693px) {
  .nav_bar {
    display: none;
  }

  .description p {
    font-size: 14px;
  }
  .about_content {
    gap: 25px;
  }
  .contact_content {
    margin-top: 25px;
  }
  .contact_info {
    width: 100%;
  }
  .contact_info p {
    font-size: 17px;
  }
  .summary_header {
    margin-top: 0;
  }
  .project_flex_container {
    padding: 3px 3px;
  }
  .header_section {
    padding: 20px;
  }
  .padding_w_bottom {
    padding: 35px 65px;
  }
  .right_sticky_list {
    right: 8px;
  }

  .project_flex_container {
    flex-direction: column;
    position: relative;
  }
  .description {
    width: 100%;
  }
  .project_summary {
    position: absolute;
    align-items: flex-start;
    height: auto;
    justify-content: flex-end;
    padding: 21px 10px;
    gap: 25px;
    bottom: 0;
    background-image: linear-gradient(
      to right,
      rgba(17, 11, 114, 0.9) 0%,
      rgba(17, 11, 114, 0.9) calc(100% - 530px),
      rgba(17, 11, 114, 0.9) calc(100% - 530px),
      rgba(17, 11, 114, 0.9) 100%
    );
  }

  .carret .carret_icon {
    font-size: 40px;
  }
  .carret {
    height: 33px;
  }
  .about_content ul {
    padding: 5px 30px;
  }
  .comp_brief p,
  .comp_brief p span {
    font-size: 16px;
  }
  .comp_effort {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 126%;
    left: -138px;
  }
  .comp_effort p {
    font-size: 14px;
  }
  .left_sticky_list,
  .right_sticky_list {
    display: none;
  }
  .padding {
    padding: 60px 20px;
  }
  .padding_w_bottom {
    padding: 35px 20px;
  }
}

@media (max-width: 597px) {
  .nav_bar {
    display: none;
  }

  .description p {
    font-size: 14px;
  }
  .about_content {
    gap: 25px;
  }
  .contact_content {
    margin-top: 25px;
  }
  .contact_info {
    width: 100%;
  }
  .contact_info p {
    font-size: 17px;
  }
  .summary_header {
    margin-top: 0;
  }

  .header_section {
    padding: 20px;
  }
  .padding_w_bottom {
    padding: 35px 65px;
  }
  .right_sticky_list {
    right: 8px;
  }

  .project_flex_container {
    flex-direction: column;
    position: relative;
    padding: 3px 3px;
  }
  .description {
    width: 100%;
  }
  .project_summary {
    position: absolute;
    align-items: flex-start;
    height: auto;
    justify-content: flex-end;
    padding: 21px 10px;
    gap: 25px;
    bottom: 0;
    background-image: linear-gradient(
      to right,
      rgba(17, 11, 114, 0.9) 0%,
      rgba(17, 11, 114, 0.9) calc(100% - 530px),
      rgba(17, 11, 114, 0.9) calc(100% - 530px),
      rgba(17, 11, 114, 0.9) 100%
    );
  }

  .carret .carret_icon {
    font-size: 40px;
  }
  .carret {
    height: 33px;
  }
  .about_content ul {
    padding: 5px 30px;
  }
  .comp_brief p,
  .comp_brief p span {
    font-size: 15px;
  }
  .comp_effort {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 140%;
    left: -138px;
  }
  .comp_effort p {
    font-size: 14px;
  }
  .left_sticky_list,
  .right_sticky_list {
    display: none;
  }
  .padding {
    padding: 60px 20px;
  }
  .padding_w_bottom {
    padding: 35px 20px;
  }
  .project_header h1,
  .about_header h1,
  .contact_header h1 {
    gap: 20px;
    font-size: 26px;
  }
  .about_content ul li p {
    font-size: 12px;
  }
  .about_content ul {
    padding: 5px 15px;
  }
  .about_content {
    gap: 10px;
  }
  .about_content {
    gap: 10px;
  }
  .comp_effort {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 120%;
    left: -90px;
  }
}

/* customised elements for responsiveness */
@media (max-width: 498px) {
  .project_summary {
    gap: 5px;
  }
  .project_header h1 span,
  .about_header h1 span,
  .contact_header h1 span,
  .project_header h1,
  .about_header h1,
  .contact_header h1 {
    font-size: 22px;
  }
  .about_content {
    margin-top: 60px;
  }
  .project_flex_container {
    flex-direction: column;
    position: relative;
    padding: 3px 3px;
    height: 70vh;
  }
  .project_summary {
    position: absolute;
    align-items: flex-start;
    height: auto;
    justify-content: flex-end;
    padding: 21px 10px;
    gap: 25px;
    bottom: 0;
    background-image: linear-gradient(
      to right,
      rgba(17, 11, 114, 0.9) 0%,
      rgba(17, 11, 114, 0.9) calc(100% - 530px),
      rgba(17, 11, 114, 0.9) calc(100% - 530px),
      rgba(17, 11, 114, 0.9) 100%
    );
  }
  .summary_header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
    margin-top: 30px;
  }
  .about_content ul li p {
    font-size: 12px;
  }
  .about_content ul {
    padding: 5px 15px;
  }
  .about_content {
    gap: 10px;
  }
  .about_content {
    gap: 10px;
  }
  .comp_effort {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 134%;
    left: -90px;
  }
}

@media (max-width: 404px) {
  .project_header h1 span,
  .about_header h1 span,
  .contact_header h1 span,
  .project_header h1,
  .about_header h1,
  .contact_header h1 {
    font-size: 17px;
  }
  .about_content ul li p {
    font-size: 12px;
  }
  .about_content ul {
    padding: 5px 15px;
  }
  .about_content {
    gap: 10px;
  }
  .comp_effort {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 147%;
    left: -90px;
  }
}
