/* large devices (Desktops and Laptops) */
@media (min-width: 1200px) {
}

/* Medium devices (Landscape tablets & Medium Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .home_header {
    top: 18%;
  }
  .arrow_down {
    bottom: 22%;
  }
  .buttn_holder {
    bottom: 10%;
  }
  .home_header h2 {
    font-size: 90px;
    letter-spacing: 9px;
  }
  .contact_holder span {
    bottom: 57px;
    left: 90px;
  }
}
/* customised elements for responsiveness */

@media (min-width: 756px) and (max-width: 991px) {
  .home_header {
    top: 40%;
  }
  .home_container {
    height: 60vh;
  }
  #home {
    height: 60vh;
  }
  .buttn_header {
    margin-right: 40px;
  }
  .buttn_holder {
    bottom: -15%;
  }
  .home_header h2 {
    font-size: 75px;
    letter-spacing: 7px;
  }
  .holder {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .header_skill {
    padding: 12px;
  }

  #skills h1,
  #works h1 {
    font-size: 27px;
    font-weight: 800;
  }
  .skill_header,
  .work_header {
    margin-bottom: 0;
  }

  .card_information {
    padding-top: 20px;
  }
  .margin {
    margin: 50px 0 200px 0;
  }
  .contact_holder span {
    bottom: 57px;
    left: 90px;
  }
  .card_information {
    padding: 0;
  }
}

@media (min-width: 627px) and (max-width: 755px) {
  .home_header {
    top: 30%;
  }
  .home_container {
    height: 100vh;
  }
  #home {
    height: 90vh;
  }
  .buttn_header {
    margin-right: 40px;
  }
  .buttn_holder {
    bottom: -18%;
  }
  .home_header h2 {
    font-size: 60px;
    letter-spacing: 7px;
  }
  .home_header h1 {
    font-size: 45px;
  }

  .header_skill {
    padding: 12px;
  }

  #skills h1,
  #works h1 {
    font-size: 27px;
    letter-spacing: 6px;
    font-weight: 700;
  }
  .skill_header,
  .work_header {
    margin-bottom: 0;
  }
  .margin {
    margin: 50px 0 200px 0;
  }
  .contact_holder span {
    bottom: 57px;
    left: 90px;
  }
  .card_information {
    padding: 0;
  }
}

@media (min-width: 458px) and (max-width: 626px) {
  .home_header {
    top: 30%;
  }
  .home_container {
    height: 100vh;
  }
  #home {
    height: 90vh;
  }
  .buttn_header {
    margin-right: 30px;
    padding: 5px 30px;
  }
  .arrow_down {
    position: absolute;
    /* right: 50%; */
    /* bottom: -75%; */
    /* top: 105%; */
    top: 140%;
    left: 80px;
    /* bottom: -48px; */
    transform: translate(50%, -50%);
  }

  .home_header h2 {
    font-size: 45px;
    letter-spacing: 5px;
  }
  .home_header h1 {
    font-size: 35px;
  }

  .header_skill {
    padding: 12px;
  }
  .logo_holder {
    width: 90px;
    height: 85px;
    display: inline-block;
    margin: 16px 2px 0 0;
  }

  #skills h1,
  #works h1 {
    font-size: 25px;
    letter-spacing: 6px;
    font-weight: 700;
  }
  .skill_header,
  .work_header {
    margin-bottom: 0;
  }
  .margin {
    margin: 50px 0 250px 0;
  }
  .contact_holder {
    padding: 100px 0 100px 60px;
  }
  .contact_holder span {
    bottom: 57px;
    left: 10px;
  }
  .card_information {
    padding: 0;
  }
}

@media (max-width: 457px) {
  .home_header span,
  .work_header span {
    font-size: 12px;
  }
  .header_skill span {
    font-size: 10px;
  }
  .home_header {
    top: 40%;
  }
  .home_header h1 {
    font-size: 25px;
  }
  .home_container {
    height: 100vh;
  }
  #home {
    height: 90vh;
  }
  .buttn_header {
    margin-right: 28px;
    padding: 2px 19px;
    margin-top: 20px;
  }
  .buttn_header span {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .arrow_down {
    position: absolute;
    /* right: 50%; */
    /* bottom: -75%; */
    /* top: 105%; */
    top: 140%;
    left: 80px;
    /* bottom: -48px; */
    transform: translate(50%, -50%);
  }
  .arrow_down span {
    width: 33px;
    height: 33px;
  }
  .home_header h2 {
    font-size: 40px;
    letter-spacing: 3px;
  }

  .header_skill {
    padding: 12px;
  }
  .logo_holder {
    width: 74px;
    height: 74px;
    display: inline-block;
    margin: 16px 0px 0 0;
  }

  #skills h1,
  #works h1 {
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-top: 0;
  }
  .skills_content_holder h2 {
    font-size: 16px;
  }
  .skills_content_holder p {
    font-size: 12px;
  }
  .skill_header,
  .work_header {
    margin-bottom: 0;
  }
  .margin {
    margin: 50px 0 250px 0;
  }
  .contact_holder {
    padding: 100px 0 100px 60px;
  }
  .contact_holder span {
    bottom: 57px;
    left: 10px;
  }
  .card_information {
    padding: 10px;
  }
  .card_information p,
  .contact_holder p,
  .contact_holder ul li {
    color: white;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 12px;
    /* margin-top: 
    20px; */
  }
  .contact_holder h1 {
    font-size: 25px;
  }
  .contact_holder span {
    bottom: 57px;
    left: 51px;
    font-size: 12px;
  }
}

/* customised elements for responsiveness */
@media (max-width: 1100px) {
  #home img {
    top: -7%;
  }
}
