/* =========================================
common box sizing technique to eleminated default styles
Gray SHADES


GRAY 0 - #f8f9fa
GRAY 1 - #f1f3f5
GRAY 2 - #e9ecef
GRAY 3 - #dee2e6
GRAY 4 - #ced4da
GRAY 5 - #adb5bd
GRAY 6 - #868e96
GRAY 7 - #495057
GRAY 8 - #343a40
GRAY 9 - #212529

============================================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
p,
label,
span,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
}
a {
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
}
.padding {
  padding: 60px 95px;
}
.padding_w_bottom {
  padding: 20px 95px;
}
.padding_wo_bottom {
  padding: 70px 100px 0px 70px;
}

.bttn {
  display: inline-block;
  padding: 10px 47px;
  border: 1px solid rgba(28, 18, 231, 0.9);
  cursor: pointer;
}
.bttn span {
  letter-spacing: 1px;
}
.bttn_touch {
  margin-top: 40px;
}

.header_section {
  background-color: black;
  padding: 20px 40px;
}

.home_container {
  display: flex;
  flex-direction: column;
}
.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 100px;
  cursor: pointer;
}
.nav_bar .logo p {
  display: inline-block;
  position: relative;
  top: -8px;
  font-size: 30px;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

.nav_bar .logo span {
  font-size: 50px;
  color: yellow;
  font-weight: 100;
}

.nav_bar_menu .nav_bar_menu_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.nav_bar_menu_list .menu_items a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.left_sticky_list {
  display: flex;
  position: fixed;
  bottom: 0;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 40px;
}
.right_sticky_list {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 22px;
  z-index: 10;
}
.left_sticky_menu {
  gap: 29px;
}
.left_sticky_menu,
.right_sticky_menu {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 22px;
  gap: 29px;
}

.left_sticky_menu::after,
.right_sticky_menu::after {
  content: "";
  display: block;
  width: 1px;
  height: 110px;
  margin: 0px auto;
  background-color: #f8f9fa;
}

.left_sticky_menu .menu_items {
  width: 100%;
}

.left_sticky_menu a img {
  width: 100%;
  height: 100%;
}

.right_sticky_menu a {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: white;
  letter-spacing: 1px;
  font-weight: 100;
}
.home_header {
  height: 80vh;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.home_header_content {
  overflow: hidden;
}
.home_header_content p {
  margin: 0px 0px 30px 4px;
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
}

.home_header_content h1 {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
}
.home_header_content h2 {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  margin-top: 10px;
  line-height: 0.9;
}
.home_header_content span {
  line-height: 1.3;
  display: block;
  margin: 10px 0px 10px 4px;
  font-size: 13px;
}

.project_header h1,
.about_header h1,
.contact_header h1 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  gap: 28px;
  font-size: 30px;
  font-weight: 600;
}
.project_header h1 span,
.about_header h1 span,
.contact_header h1 span {
  font-size: 30px;
  font-weight: 600;
  color: rgba(28, 18, 231, 0.9);
}
.project_header h1::after,
.about_header h1::after,
.contact_header h1::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background-color: white;
}

.project_flex_container {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
  background-image: linear-gradient(
    to right,
    rgba(17, 11, 114, 0.9) 0%,
    rgba(17, 11, 114, 0.9) calc(100% - 530px),
    rgba(17, 11, 114, 0.9) calc(100% - 530px),
    rgba(17, 11, 114, 0.9) 100%
  );
}
.project_image {
  position: relative;
}

.project_image img {
  width: 100%;
  height: 100%;
  shape-rendering: crispedges;
}

.project_summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 0;
}
.image_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.image_hover_content {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.95) 0%,
    rgba(0, 0, 0, 0.93) calc(100% - 530px),
    rgba(0, 0, 0, 0.9) calc(100% - 530px),
    rgba(0, 0, 0, 0.8) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 14px 28px rgba(2, 0, 36, 0.3), 0 10px 10px rgba(2, 0, 36, 0.22);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.gif {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.project_summary h2 {
  margin-top: 3px;
  margin-bottom: 2px;
  font-size: xx-large;
}

.description {
  padding: 10px;
  background-color: #212529;
  width: 123%;
  z-index: 1;
}
.description p {
  font-size: 16px;
}

.summary_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-top: 30px;
}
.summary_header span {
  font-size: x-small;
  margin-right: 6px;
  color: yellow;
}

.project_tech span {
  font-size: x-small;
}

.image_hover_content p,
.image_hover_content span {
  font-size: 16px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

.image_hover:hover .image_hover_content {
  opacity: 1;
}
.about_section {
  margin-bottom: 100px;
}
.about_content {
  display: flex;
  flex-direction: row;
  height: 25vh;
  margin-top: 120px;
  gap: 75px;
}
.about_content ul {
  list-style: none;
  width: 100%;
  padding: 10px 40px;
  margin: 0;
  background-color: rgba(17, 11, 114);
}
.about_content ul li p {
  margin: 0;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}
.comp_brief {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
.comp_brief p {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.comp_brief p span {
  color: #fa6152;
  font-size: 18px;
  font-weight: 600;
}
.carret {
  display: flex;
  height: 45px;
  align-items: center;
}
.carret .carret_icon {
  font-size: 50px;
  color: rgb(21, 16, 124);
}
.comp_effort {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.comp_effort p {
  font-size: 16px;
  font-weight: 200;
}
.comp_effort .effort {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.comp_effort .effort i {
  font-size: 16px;
  color: rgb(21, 16, 124);
}

.contact_section {
  margin-top: 250px;
}
.contact_container {
  margin-bottom: 100px;
}
.contact_header h1 {
  justify-content: center;
}
.contact_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-top: 80px;
}
.contact_info {
  width: 70%;
}
.contact_info p {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  padding: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_content p {
  padding: 0;
  margin: 0;
  font-size: 10px;
}
.footer_content p a {
  color: #64ffda;
  font-size: 10px;
}

.animated_intro_page {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro_text .hiding .text {
  color: white;
  font-size: xx-large;
}
.animated_slider1 {
  background-image: linear-gradient(
    to right,
    rgba(17, 11, 114, 1) 0%,
    rgba(17, 11, 114, 1) calc(100% - 530px),
    rgba(17, 11, 114, 1) calc(100% - 530px),
    rgba(17, 11, 114, 1) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  transform: translateY(100%);
}

.animated_slider2 {
  background: rgba(17, 11, 114);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  transform: translateY(100%);
}
.hiding {
  overflow: hidden;
  padding: 0 50px;
  line-height: 1.5;
}

.hiding span {
  display: inline-block;
  transform: translateX(-200%);
  opacity: 0;
}

.animation-area {
  width: 100%;
  height: 100%;
}
.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(40, 30, 231, 0.7);
  animation: animate 10s linear infinite;
  bottom: -150px;
  opacity: 0.2;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}
.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(7) {
  right: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 0s;
  top: 20%;
}
.box-area li:nth-child(8) {
  width: 110px;
  height: 110px;
  animation-delay: 0s;
  top: 18%;
  right: 10%;
}
.box-area li:nth-child(9) {
  width: 110px;
  height: 110px;
  animation-delay: 0s;
  top: 25%;
  right: 40%;
}
.box-area li:nth-child(10) {
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  top: 18%;
  right: 20%;
}
.box-area li:nth-child(11) {
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  top: 40%;
  right: 34%;
}
.box-area li:nth-child(12) {
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  top: 32%;
  left: 20%;
}
.box-area li:nth-child(13) {
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  top: 30%;
  right: 20%;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
    background: rgba(40, 30, 231, 0.9);
  }
  25% {
    transform: translateY(-200px) rotate(45deg);
    background: rgba(40, 30, 231, 0.3);
  }
  50% {
    transform: translateY(-400px) rotate(90deg);
    opacity: 1;
    background: rgba(40, 30, 231, 0.1);
  }
  75% {
    transform: translateY(-600px) rotate(180deg);
    background: rgba(40, 30, 231, 0.3);
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
    background: rgba(40, 30, 231, 0.9);
  }
}

.header_section {
  position: relative;
}
